/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
     
html,body{
  overflow-x: hidden;
  font-family:'Opens Sans',helvetica;  
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  margin: 10px;
}

.scroll{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}                                                         